<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователей</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" th:action="@{/users/add}">
    <div><label> Название группы : <input type="text" name="groupName"/> </label></div>
    <div><label> Список пользователей в формате json: <input type="file" name="userList"/></label></div>
    <div><input type="submit" value="Добавить"/></div>
</form>
</body>
</html>