<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>

<h3>
    Привет, <a th:text="${name}" th:remove="tag"></a>. Вы в группе <a th:text="${groupName}" th:remove="tag"></a>
</h3>
<div th:if="${role} == 'ADMIN'">
    <div>
        <a href="/assignment">Управление работами</a>
    </div>
    <div>
        <a href="/users">Управление пользователями</a>
    </div>
</div>
<div th:if="${role} == 'USER'">
    <div>
        <a href="/templates/work/info">Информация о работах и результатах</a>
    </div>
</div>
</body>
</html>