<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Просмотр новых работ</title>
</head>
<body>
<h2>Список новых работ</h2>

<form method="post">
    <label>
        Выберете группу:
        <select name="groupId">
            <th:block th:each="group: ${groups.entrySet()}">
                <option th:text="${group.getValue()}" th:attr="value=${group.getKey()}"></option>
            </th:block>
        </select>
        <div>
            <input type="submit" value="Посмотреть"/>
        </div>
    </label>
</form>

<th:block th:each="work: ${newWorks}">
    <div style="border: red dotted 1px">
        <p th:text="'Выполнил: '+${work.getUserName()}"></p>
        <p th:text="'Группа: '+${work.getGroupName()}"></p>
        <p th:text="'Текущий статус: '+${work.getStatus().getDescription()}"></p>
        <p><a th:href="@{'~/work/'+${work.getAssignmentId()}}">Задание</a></p>
        <p><a th:href="@{'~/result/'+${work.getResultId()}}">Выполненная работа</a></p>
        <form method="post">

        </form>
    </div>


</th:block>

</body>
</html>